// font imports
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
// variables
$lato-font: 'Lato', sans-serif;
$PT-font: 'PT Sans', sans-serif;
$strong-blue: #2989C6;
$light-gray: #e5e5e5; // background color
$dark-gray: #424242; // font color
$fail-valid:  #FF0000; // fail valid color
